numpy<2
torch==2.2.1+cu121
torchvision==0.17.1+cu121
torchaudio==2.2.1+cu121
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
pyannote.audio==3.3.2
pydub==0.25.1
speechbrain==1.0.3
Unidecode==1.4.0